.avatar-border,
.avatar-container,
.avatar-container img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar-border {
  padding: 2px;
  border: #DDDDDD 2px solid;
}
.avatar-container {
  overflow: hidden;
}
.avatar-container img{
  object-fit: cover;
}